*{
  margin:0px;
  padding:0px;
}

#wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  position: fixed ;
  justify-content: center;
  align-items: center;
  background-image: url("D:\M1_CodeLibrary\1_projects_s1_m1\cozy-timer\public\assets\background\peakpxB80.jpg");
  background-size: cover;
}
#timer{
  z-index: -1;
}
#timer-countdown {
  width:100vw;
  display: flex;
  justify-content: center;
  font-family: "Space Grotesk", sans-serif;
  font-variant-numeric: tabular-nums;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 150px;
  color:white;
}
#timer-controls{
  width:100vw;
  display: flex;
  justify-content: center;
  gap: 20px;
}
#timer-controls>button{
  width:6rem;
  height: 3rem;
  background-color: white;
  border: none;
  border-radius: 50px;

  font-family: "Space Grotesk", sans-serif;
  font-variant-numeric: tabular-nums;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.3rem;
  color: rebeccapurple;
}
@media only screen and (max-width: 768px) {
  #timer-countdown{
    font-size: 100px;
  }
}
