*{
  margin:0px;
  padding:0px;
}

#wrapper{
  height: 100vh;
  width: 100vw;

  color:white;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("D:\M1_CodeLibrary\1_projects_s1_m1\cozy-timer\public\assets\background\peakpxB80.jpg");
  background-size: cover;
} 
#timer-countdown {
  width:75vw;
  display: flex;
  justify-content: center;
  font-family: "Space Grotesk", sans-serif;
  font-variant-numeric: tabular-nums;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 150px;
}
#timer-controls{
  width:75vw;
  display: flex;
  justify-content: center;
}